<div class="ligeia-item-body traco">
  {{> systems/ligeia-rpg/templates/item/partials/header.hbs}}

  <label class="lig-full">Origem
    <select name="system.source">
      {{selectOptions sourceChoices selected=system.source}}
    </select>
  </label>

  <div class="lig-desc-block">
    <div class="lig-section-title">Descrição</div>
    {{#if editable}}
    <textarea name="system.description" rows="4">{{system.description}}</textarea>
    {{else}}<div class="lig-rendered">{{{enrichedDescription}}}</div>{{/if}}
  </div>

  {{!-- Ataque derivado --}}
  <div class="lig-attack-block">
    <label class="lig-inline-check">
      <input type="checkbox" name="system.isWeapon" {{checked system.isWeapon}}/>
      Permite atacar (gera ataque na ficha)
    </label>
    {{#if system.isWeapon}}
    <div class="lig-item-row">
      <label>Atributo
        <select name="system.attack.attribute">
          {{selectOptions attrChoices selected=system.attack.attribute}}
        </select>
      </label>
      <label>Bônus
        <input type="number" name="system.attack.bonus" value="{{system.attack.bonus}}"/>
      </label>
      <label>Dados de melhoria
        <input type="number" name="system.attack.dice" value="{{system.attack.dice}}" min="0"/>
      </label>
    </div>
    <label class="lig-full">Propriedades do ataque
      <input type="text" name="system.attack.properties" value="{{system.attack.properties}}" placeholder="dano, tipo, alcance..."/>
    </label>
    {{/if}}
  </div>

  {{> systems/ligeia-rpg/templates/item/partials/action.hbs}}
  {{> systems/ligeia-rpg/templates/item/partials/mode.hbs}}
  {{> systems/ligeia-rpg/templates/item/partials/effects.hbs}}
  {{> systems/ligeia-rpg/templates/item/partials/costs.hbs}}
</div>
